\:root
    --osuny-reading-progress-bar-color: var(--color-accent)

.osuny-reading-progress
    left: 0
    position: fixed
    right: 0
    top: 0
    z-index: 1000
    &__bar
        width: 0%
        height: 2px
        background: var(--osuny-reading-progress-bar-color)